body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ff006e;
    color: #222823;
}
h1{text-align: center;}
h2{text-align: center;}
h1{text-size-adjust: 60;}

.cupcake {
    display: flex;
}

.flex1 {
    /* flex : 1 */
}

.flex2 {
    flex : 2
}

.pl1 {
    padding-left: 1em;
}

.img {
    align-self: flex-start;
    height: auto; 
    max-width: 150%;
}


.cupcake_box {
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
}

.cupcake1 {
    background-color: #f0f600;

}
h1 {text-align: center}
.cupcake2 {
    background-color: #3ec300;
}

.cupcake3 {
    background-color: #3a86ff;
}

.blue {
    background-color: #ff006e;
}